@import url(./header.css);
@import url(./footer.css);
/*******************************main_content***********************/
.wrapper {
  grid-template-columns: repeat(1, 1fr);
  gap: var(--container-space);
}

.team_img {
  height: 300px;
  border-radius: 12px;
  width: 100%;
  object-fit: cover;
}

.hero {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: var(--container-space);
  margin-bottom: var(--container-space);
}

.name {
  padding-top: 15px;
  padding-bottom: 5px;
}

.position {
  font-size: 14px;
  line-height: 22px;
  color: var(--text-color);
}

.row {
  border: none;
  padding-top: 15px;
}

.row:hover {
  transform: rotate(-90deg);
}
